<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: nav"></nav>
<div class="container">
    <br>
   <!--   <div class="jumbotron alert alert-info text-center"><h2>Your projects :</h2></div>   -->  
     <div class="container">
    <div class="row">
        <h1>Clients</h1>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Client Name</th>
                <th>Client Address</th>   
                <th>Edit</th>
                <th>Delete</th> 
                <th>View</th>
                                 
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.clientName}"></td>
                <td th:text="${client.address}"></td>  
                <td> <a sec:authorize="hasAuthority('Manager')" class="btn btn-warning btn-sm" th:href="@{'/client/' + ${client.id}} +'/edit'">Edit</a></td>
                <td><a sec:authorize="hasAuthority('Admin')" class="btn btn-danger btn-sm" th:href="@{'/client/' + ${client.id}} +'/delete'">Delete</a></td>   
                <td> <a class="sb-preview-img" th:href="@{'/client/' + ${client.id}}">View</a></td>           
            </tr>
        </table>
         <div class="clearfix"></div>
       	 <div sec:authorize="hasAuthority('Manager')" class="col-lg-4 col-md-6 sb-preview text-center marginCostum jumbotron">
            <a href="/client/new">
            <span class="glyphicon glyphicon-plus" style="font-size:100px"></span>
            </a>
        </div>
    </div>
    
    
    
    
    
     
  <!--   <div class="row">
        <div th:each="project : ${projects}" class="col-lg-4 col-md-6 sb-preview text-center marginCostum">
            <div class="card h-100">
                 <a class="sb-preview-img" th:href="@{'/projects/' + ${project.id}}">
                    <img th:src="@{/img/banner-bg.jpg}" class="card-img-top img-fluid" width="300">
                </a> 
                <div class="card-block">
                    <tr>
                    <td  th:text="${project.name}" class="card-title">${project.name}</td>
                    <td th:text="${project.description}" class="card-text"></td>
                    </tr>
                </div>
                <div class="card-footer">
                    <a sec:authorize="hasAuthority('Manager')" class="btn btn-warning btn-sm" th:href="@{'/projects/' + ${project.id}} +'/edit'">Edit</a>
                    <a sec:authorize="hasAuthority('Admin')" class="btn btn-danger btn-sm" th:href="@{'/projects/' + ${project.id}} +'/delete'">Delete</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div sec:authorize="hasAuthority('Manager')" class="col-lg-4 col-md-6 sb-preview text-center marginCostum jumbotron">
            <a href="/projects/new">
            <span class="glyphicon glyphicon-plus" style="font-size:100px"></span>
            </a>
        </div>
    </div> -->

</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>